<template>
	<v-container>
		<v-layout row wrap>
			<div class="contact">
				<h1>Contact</h1>
				<br>
				<p>email: contact@christophervlapa.com.au</p>
				<p>instagram: christophervlapa</p>
			</div>
		</v-layout>
	</v-container>
</v-template>