<template>
	<v-container>
		<v-layout row wrap>
			<div class="cv">
				<h1>Curriculum Vitae</h1>
				<br>
				<h2>Education</h2> 
				<p>2012<br/>
				 Bachelor of Visual Arts Honours First Class (Photomedia), Sydney University, Rozelle, Sydney, NSW Australia</p>  
				<p>2008 - 2011<br/>
				 Bachelor of Visual Arts (Photomedia), Sydney University, Rozelle, Sydney, NSW Australia</p>  
				<p>2003<br/>
				Dip. Web Site Production and Management, Sydney Institute of Technology, Ultimo, Sydney  </p>

				<h2>Solo Shows</h2>
				<p>2017<br/>
				 <i>Black Flag Nine</i> Interlude Gallery, Glebe NSW Australia</p>  
				<p>2016<br/> 
				 <i>Black Flag Six</i> Trocadero Art Space, Footscray, VIC Australia</p>  
				<p>2009<br/> 
				 <i>The World Ended and I Liked It</i> Abattoir Gallery, Sydney College of the Arts, NSW Australia</p>  

				<h2>Collaborative works</h2>
				<p>2018<br/>
				<i>Secure Connection</i> live, localized interactive chat element of collaborative live performance with Laura Hunt, Firstdraft Gallery as part of Art Month 2018, Sydney, NSW Australia</p>
				
				<p>2017<br/>
				<i>Little More Real</i> Internet Art collaboration with Samantha Hornitzky, Facebook via Facebook Advertising / Tumblr</p>
				<p><i>Secure Connection</i> live, localized interactive chat element of collaborative live performance with Laura Hunt, Hobiennale, Hobart, TAS Australia</p>

				<h2>Group Shows</h2>  

				<p>2014<br/>
				<i>A Billion Billion</i> A MOP project, hosted by Breezeblock, Sydney NSW, Australia</p>  
				<p>2012<br/>
				<i>Time & Space Show</i> Dedspace Gallery, Sydney, NSW Australia</p>
				<p><i>The Social</i> Verge Gallery, Camperdown, Sydney, NSW Australia</p>  
				<p>2010<br/>
				<i>Sydney College of the Arts Graduate Exhibition</i> Sydney, NSW  Australia</p> 
				<p><i>Anamnesis</i> Gaffa Gallery, Sydney, NSW Australia</p>
				<p>2008<br/>
				<i>USU Palm Awards</i> Manning House Sydney University, Sydney, NSW  Australia</p>
				<p>2005<br/>
				<i>Romance</i> New View Gallery, Sydney, NSW Australia</p>
				<p>2003<br/>
				 <i>Zine Show</i> Wren Gallery, Sydney, NSW Australia</p>  

				<h2>Other</h2>
				<p>Dedspace Gallery committee member 2012</p>
				<p>Volunteer at Australian Centre for Photography 2006 - 2010</p>
			</div>
		</v-layout>
	</v-container>
	</v-container>
</template>
